* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: quicksand;
}

@font-face {
    font-family: quicksand;
    src: url("./Quicksand-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

div.main {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 620px;
}

div.main div.account select {
    padding: 12px 10px;
    background: none;
    border: 1.5px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 25px 0px;
}

div.main div.account button b {
    font-size: 25px;
}

div.main div.form form {
    padding-top: 20px;
}

div.main div.form h2 {
    font-size: 30px;
    font-weight: 200;
}

div.main div.form form div.box label {
    font-weight: 300;
    font-size: 22px;
}

div.main div.form form div.box input {
    display: block;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: 1.5px solid rgba(128, 128, 128, 0.5);
    outline: none;
    height: 40px;
    padding-left: 10px;
    margin: 10px 0px;
}

div.main div.form form div.box input:placeholder-shown {
    color: rgba(128, 128, 128, 0.7);
    font-size: 16px;
}

div.flow {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
}

div.flow input {
    transform: scale(1.5);
    cursor: pointer;
}

div.flow label {
    padding-left: 5px;
}

div.main div.form input[type="submit"] {
    width: 100%;
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 10px 0px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
}

div.main div.form input[type="submit"]:hover {
    box-shadow: 1px 0px 40px rgba(0, 0, 0, .3);
    transition: all ease .4s;
    transform: scaleY(5px);
}

div.main div.form button {
    width: 100%;
    border: 2px solid #808080;
    color: black;
    background: none;
    outline: none;
    padding: 8px 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
}

div.main div.form button a {
    color: black;
    text-decoration: none;
}

div.main div.form button a i {
    padding-right: 10px;
    color: #008000;
    font-size: 22px;
}

div.main div.form>p {
    padding: 15px 5px;
    display: flex;
}

div.main div.form>p a {
    padding-left: 90px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

div.picture {
    width: 55%;
    display: flex;
}

div.picture img {
    position: absolute;
    right: 0;
    width: 720px;
    height: 100%;
}